@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

BODY {
 background-color: #EFEFEF;
 margin: 0;
 padding: 0;
 font-family: "Open Sans", Arial, sans-serif;
}

/** HEADER STYLE **/

HEADER {
 background-color: #FFF;
 display: grid;
 grid-template-rows: auto auto;
 grid-template-columns: auto;
 grid-template-areas: 'branding' 'nav';
}

/** STYLE FOR BRANDING **/

HEADER .branding {
 grid-area: branding;
 text-align: center;
}

HEADER .branding A {
 display: block;
 max-width: 200px;
 margin: 0 auto;
}

HEADER .branding A IMG {
 width: 100%;
}

/** DESKTOP STYLE FOR THE HEADER **/

@media screen and (min-width: 1200px) {
 BODY {
   padding-top: 100px;
 }

 HEADER {
   grid-template-columns: 150px auto;
   grid-template-rows: 100px;
   grid-template-areas: 'branding nav';
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 10;
   box-shadow: 0px 0px 10px #333;
 }

 HEADER .branding {
   display: flex;
   align-items: center;
   justify-content: center;
 }

 HEADER .branding A IMG {
   max-width: 150px;
   max-height: 100px;
 }

 HEADER NAV {
   display: flex;
   align-items: flex-end;
   justify-content: flex-end;
 }
}

/** STYLE FOR NAV **/

HEADER NAV {
 grid-area: nav;
}

HEADER NAV A {
 display: block;
 padding: 10px;
 font-weight: 700;
 text-decoration: none;
 color: #000;
 margin-bottom: -0px;
 box-sizing: border-box;
}

HEADER NAV A::before {
 content: '\f1b0';
 font-family: 'Font Awesome 5 Free';
 font-size: 30px;
 font-weight: 700;
 margin-right: 10px;
 opacity: 0;
 color: #ff800d;
 transition: all 0.3s;
}

HEADER NAV A:hover::before {
 opacity: 1;
 transition: all 0.3s;
}

/** TABLET STYLE FOR NAV **/

@media screen and (min-width: 800px){

 HEADER {
   border-bottom: none;
 }

 HEADER NAV {
   text-align: center;
 }

 HEADER NAV A {
   display: inline-block;
   border-bottom: 4px solid #FFF;
   padding: 10px 15px;
   position: relative;
 }

 HEADER NAV A::before {
   bottom: -40px;
   width: 100%;
   left: 0;
   right: 0;
   text-align: center;
   position: absolute;
 }

 HEADER NAV A:hover {
   border-bottom: 4px solid #ff800d;

 }
}

/** BANNER STYLE **/

ASIDE.banner {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.7)
    ),url('../images/blackdog.png');
 background-size: cover;
 background-position: center;
 border-top: 1px solid transparent;
 border-bottom: 1px solid #ff800d;
}

ASIDE.banner H1 {
 color: white;
 width: 80%;
 max-width: 1400px;
 margin: 10%;
 text-align: center;
 font-size: 2.5em;
 text-shadow: 0px 0px 10px #111;
}

ASIDE.banner2 {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.7)
    ),url('../images/browndog.jpg');
 background-size: cover;
 background-position: center;
 border-top: 1px solid transparent;
 border-bottom: 1px solid #ff800d;
}

ASIDE.banner2 H1 {
 color: white;
 width: 80%;
 max-width: 1500px;
 margin: 10%;
 text-align: center;
 font-size: 2.5em;
 text-shadow: 0px 0px 10px #111;
}
/** STYLE FOR THE OFFER **/

ASIDE.offer {
 background-color: #ff800d;
 color: #000;
 text-align: center;
 font-size: 1.3em;
 font-weight: 700;
 border: 1px solid #ff800d;
 padding: 10px;
 box-sizing: border-box;
}

/** STYLE FOR CONTENT **/

ARTICLE.content {
 padding: 20px;
 box-sizing: border-box;
 border: 1px solid #EFEFEF;
 text-align : center;
 font-size: 1em;
}

ARTICLE.content H2 {
 margin-bottom: 5px;
 padding: 0px;
}

ARTICLE.content HR {
 width: 60%;
 border: 1px solid #ff800d;
 margin: 0px auto;
 margin-bottom: 20px;
}

ARTICLE.content UL {
 margin: 10px 0px;
 padding: 0;
}

/** FOOTER STYLE **/
FOOTER {
 background-color: #333;
 color: #FFF;
 border: 1px solid #333;
 text-align : center;
 box-sizing: border-box;
 display: grid;
 grid-template-columns: auto;
 grid-template-rows: auto auto;
 grid-template-areas: 'form' 'hours ';
}

FOOTER UL {
 padding: 0px ;
 margin: 10px 0px;
 list-style: none;
}

FOOTER .contact-form {
 grid-area: form;
}


FOOTER .hours {
 grid-area: hours;
}

/* STYLE FOR FIELDS **/
DIV.field LABEL {
 display: block;
}

DIV.field INPUT, DIV.field SELECT, DIV.field TEXTAREA {
 display: block;
 width: 95%;
 margin: 5px auto;
 border: 1px solid #FFF;
 border-radius: 0px;
 padding: 10px;
 box-sizing: border-box;
 font-family: 'Open Sans', Arial, sans-serif;
 font-size: 1rem;
 text-align: center;
 border-bottom: 4px solid #FFF;
 border-top: 4px solid #FFF;
 transition: all 0.3s;
}

DIV.field INPUT:focus, DIV.field SELECT:focus, DIV.field TEXTAREA:focus {
 border-bottom: 4px solid #ff800d;
 transition: all 0.3s;
}

BUTTON.btn {
 width: 95%;
 border: 2px solid #ff800d;
 background-color: transparent;
 color: #ff800d;
 padding: 10px;
 box-sizing: border-box;
 margin-top: 15px;
 font-size: 1.2em;
 cursor: pointer;
 position: relative;
 overflow: hidden;
}

BUTTON.btn:hover {
 color: #FFF;
 background-color: #ff800d;
 transition: all 0.3s;
}


/* Styles the contact addresses for the venues */
.contact-addresses {
  width: 100%;
  max-width: 1100px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-flow: row wrap;
  font-family: Arial, sans-serif;
  background-color: #EFEFEF;
}

.contact-addresses > .address {
  flex: 1;
  padding: 10px;
  min-width: 200px;
  margin: 0px 1px;
  text-align: center;
  background-color: #FFF;

}

.contact-addresses > .address > H4 {
  margin-bottom: 0px;
}

.contact-addresses > .address > HR {
  border: 1px solid #FFC87C;
  width: 60%;
  margin: 5px auto;
}


/* Positions the gallery in the center */
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 20px auto;
}

/* Styles the images in the gallery */
.gallery--item {
  flex: 1;
  position: relative;
  overflow: hidden;
  min-width: 200px;
}

.gallery--item:after {
  content: '';
  margin-top: 100%;
  display: block;
}

.gallery--item > IMG {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: 150%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallery--item:hover > IMG {
  width: 300%;
  height: auto;
  transition: 0.3s;
}

/* for the button on the images once they are clicked */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hides the images when they are left, and adds a transition to them */
.lightbox.hide {
  opacity: 0;
  top: -100%;
  bottom: initial;
  transition: 0.5s;
}

.lightbox--content {
  max-width: 1100px;
  max-height: 90vh;
  box-sizing: border-box;
  width: auto;
  position: relative;
}

A.lightbox--close {
  position: absolute;
  top: 0px;
  right: 0;
  height: 50px;
  width: 50px;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: red
}

.lightbox--show IMG {
  box-shadow: 0px 0px 20px #333;
  max-width: 100%;
  max-height: 100%;
}

/* Styles the people and positions them on the page */
.our-team {
  max-width: 1100px;
  width: 100%;
  margin: 50px auto;
  display: flex;
  flex-flow: row wrap;
  background-color: #EFEFEF;
  padding: 0px 1px
}

.our-team > .team-member {
  flex: 1;
  min-width: 200px;
  background-color: #FFF;
  margin: 0px 1px;
  text-align: center;
}

/* Styles the images specifically, makes them display as a circle */
.our-team > .team-member > .image {
  border: 4px solid #FFC87C;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 10px #333;
  width: 150px;
  height: 150px;
}

.our-team > .team-member > .image > IMG {
  min-width: 150px;
  min-height: 150px;
  width: 150px;

}

/* Styles the names of the team  members */
.our-team > .team-member > H3 {
  margin-top: 20px;
}


/* Styles the cards for the services page*/
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.4s;
  margin-bottom: 0.8em;
  margin-top: 0.8em;
  margin-left: 4em;
  margin-right: 4em;
  background-color: white;
  border: solid 1.5px #ff800d;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 10px 18px 0 rgba(0,0,0,0.4);
}

/*Styles the buttons for the services page*/
BUTTON.servbtn {
  padding: 1em;
  margin: 1em;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  background-color: #ff800d;
  color: white;
  cursor: pointer;
  border: none;
}

BUTTON.servbtn:hover {
  padding: 1em;
  margin: 1em;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  background-color: #F0FFFF;
  color: #ff800d;
  cursor: pointer;
  border: solid 1px #ff800d;
}

/* Helps style the cards on the services page*/
#version2 {
  color: black;
  font-size: 22px;
  margin-left: 1em;
  margin-top: 0.4em;
  text-decoration: underline;
}

#serviceul {
  list-style: none;
}
